<!DOCTYPE html>
<html lang="de">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" >
        <title>Playlist Downloader</title>
        <script language="JavaScript">
          function toggle(source) {
              checkboxes = document.getElementsByName('select');
              for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
              }
            }
        </script>
        {% endblock %}
    </head>
    <body class="playlistcontent">
      {% block body %}
        <h1>Choose your Songs</h1>
        <form action="/playlist" method="post">
            <table>
                <td><input type="checkbox" onClick="toggle(this)" /> Select All</td>
                {%for i in range(0, len)%}
                <tr>
                <td><img src={{ thumbnails[i] }}></img></td>
                <td><input class="checkmark" name="select" type="checkbox" value="{{ urls[i] }}"> {{ titles[i] }}</td>
                </tr>
                {%endfor%}
            </table>
            <button><span></span>Download</button>
        </form>
      {% endblock %}
    </body>
</html>
